.nav-item {
      margin: 1% 1.1%;
      font-size: 2rem;
    }

    .nav-link:hover {
      color: #eeeeee;
    }

    nav {
      background-color: #393e46;
    }

    .nav-span {
      font-family: 'McLaren', cursive;
      font-size: 3.3rem;
      color: #00adb5;
    }

    .title {
      position: absolute;
      left: 3%;
    }

    p {
      font-size: 1.5rem;
      color: #eeeeee;
    }

    .container-fluid {
      text-align: center;
      margin-top: 3%;
    }

    h2 {
      font-size: 2.7rem;
      color: #222831;
    }

   .font-small {
      background-color: #393e46;
      margin-top: 66%;
    }

    .footerTitle {
      color: #eeeeee;
      font-size: 1.5rem;
    }

    .row {
      margin-top: 1%;
    }

    .reg-button {
      position: absolute;
      right: 2%;
    }

    .input-group-text {
      background-color: #00adb5;
      font-size: 1.2rem;
    }

    .mb-3 {
      border: 1.5px solid black;
    }

    .reg-topic {
      position: relative;
      right: 41%;
    }
    .topic {
      font-size: 3rem;
    }
    .first-row {
      margin-top: 3%;
    }
    footer {
      background-color: #393e46;
      margin-top: 21.5%;
    }
    body {
      width: 100%;
    }
